<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="list">
            <h1 class="date"></h1>
            <% if(list.length == 0){%>
                <h1>Hurray! All Tasks Complete</h1>
            <% } else{%>
                <% if(list.length==1) {%>
                    <h1><%=list.length%> Task Remaining</h1>
                <% }else{%>
                    <h1><%=list.length%> Tasks Remaining</h1>
                    <% } %>
            <% } %>
            <% for(var i = 0 ; i < list.length ; i++){ %>
                <form action="/delete?id=<%=list[i].id%>" class="element" method="post"><input type="submit" value="CLEAR" class="btn"><%= list[i].work %></form>
            <% } %>
            <form action="/new" class="input" method="post">
                <input type="text" name="work" placeholder="Add New Task" autocomplete="off" autofocus>
                <input type="submit" class="submit">
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>