*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    padding: 30px;
    background-color: #1E201E;
    border-radius: 10px;
    width: 30%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.element{
    color: white;
    flex-basis: 35px;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: left;
}
.input{
    display: flex;
    flex-direction: column;
}
input{
    flex-basis: 35px;
    background-color: #1E201E;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}
h1{
    color: #ffffffb0;
    text-align: center;
    font-family: sans-serif;
}
.btn{
    height: 90%;
    flex-basis: 75px;
}
.btn:hover{
    background-color: white;
    color: black;
}
input:focus{
    outline: none;
}
.submit{
    margin-top: 2px;
}
.submit:hover{
    background-color: white;
    color: black;
}